/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



.flash-box {
  background-color: #38AEf0;
}



.wrapper {
  display: flex;
}

/*サイドバー全体*/

.chat-side {
  height: 100vh;
  min-width: 300px;

}

/*サイドバーヘッダー*/
.side-header {
  height: 100px;
  background-color: #253141;
}

.side-header__box {
  line-height: 100px;
  display: flex;
  justify-content: space-between;
}

.side-header p {
  font-size: 16px ;
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 20px;
}

.side-header__box__manu {
  list-style: none;
  padding-right: 20px;

}


.side-header_icon1 {
  color: #FFFFFF;

}

.side-header_icon2 {
  color: #FFFFFF;
}



/*サイドバー下部*/

.groups {
  background-color: #2f3e51;
  height: 700px;
}

.group__group-name {
  padding:20px 20px 5px 20px;
  font-size: 15px;
  color: #FFFFFF
}
.group__latest-message {
  padding:  0 20px 40px 20px;
  font-size: 11px;
  color: #FFFFFF
}


/*メインエリア*/

.chat-main {
  flex: 1;

  /*メインコンテンツをウィンドウ内に固定する*/
  height: 100vh;
  display: flex;
  flex-direction: column;

}

/*メインヘッダー*/

.main-header {
  height: 100px;
  border-bottom-style:solid; border-bottom-width:0.5pt;
  border-color: #eeeeee;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;

}

.main-header__left-box {
  position: relative;

}

.main-header__left-box__current-group {
  font-size: 20px;
  color: #333333;
  padding: 35px 0 15px 40px;

}

.main-header__left-box__member-list {
  font-size: 12px;
  color: #999999;
  padding-left: 40px;
}

.main-header__edit-btn {
  line-height: 40px;
  padding: 0 20px;
  color: #38AEF0;
  border: solid 1px;
  position: absolute;
  right: 40px;
  top: 28px;

}

/*メッセージゾーン*/

.messages {
  flex: 1;
  background-color: #FAFAFA;
}

.message1,.message2 {
  padding-left: 40px;
}

.message__upper-info {

}

.message__upper-info__talker {
  padding-top: 46px;
  padding-bottom: 10px;
  display: inline-block;
}

.message__upper-info__date {
  color: #999999;
  display: inline-block;
  padding-left: 10px;
}

.message__text {
  padding-bottom: 40px;
}


/*フォーム*/

.form {
  height: 100px;
  background-color: #DDDDDD;

}

.new_message {
  padding:20px 40px 20px 40px;
  display: flex;

}

.input-box {
  height: 50px;
  width: 930px;
  background-color: #FAFAFA;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.input-box p {
  color: #7A7A7A;
  padding-left: 10px;
}

.picture-icon {
  padding-right: 10px;
}


.submit-btn {
  line-height: 50px;
  width: 100px;
  color: white;
  background-color:#38AEF0;
  text-align: center;
  border-style:solid; border-width:0.5pt;
  border-color: #D1D1D1;
  box-sizing:border-box;
  margin-left: 15px;
}
