<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title></title>
</head>
<body>
  <div class="flash-box">
  </div>
  <div class="wrapper">
    <div class="chat-side">
      <div class="side-header">
        <div class="side-header__box">
          <p class="side-header__box__user-name">太郎</p>
          <ul class="side-header__box__manu">
            <li class="fas fa-edit side-header_icon1"></li>
            <li class="fas fa-cog side-header_icon2"></li>
          </ul>

        </div>
      </div>
      <div class="groups">
        <div class="group">
          <p class="group__group-name">雑談用</p>
          <p class="group__latest-message">おはようございます！</p>
        </div>
      </div>
    </div>
    <div class="chat-main">
      <div class="main-header">
        <div class="main-header__left-box">
          <h2 class="main-header__left-box__current-group">暇人トーク</h2>
          <ul class="main-header__left-box__member-list">
            <li>Member : 太郎、花子、二郎</li>
          </ul>
        </div>
        <div class="main-header__edit-btn">Edit
        </div>
      </div>
      <div class="messages">
        <div class="message1">
          <div class="message__upper-info">
            <p class="message__upper-info__talker">太郎</p>
            <p class="message__upper-info__date">2019/02/05(Tue) 21:25:24</p>
          </div>
          <p class="message__text">今日もプログラミング頑張りました</p>
        </div>
        <div class="message2">
          <div class="message__upper-info">
            <p class="message__upper-info__talker">花子</p>
            <p class="message__upper-info__date">2019/02/05(Tue) 21:27:26</p>
          </div>
          <p class="message__text">今日もお疲れ様でした！</p>
        </div>
      </div>
      <div class="form">
        <div class="new_message">
          <div class="input-box">
            <p class="input-box__text">type a message</p>
            <i class="far fa-image picture-icon fa-lg"></i>
          </div>
          <div class="submit-btn">Send</div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
