// 複数回使用する色を格納していく
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light-gray: #999999;
$light-blue: #38AEF0;
$black: #333333;
$gray: #ddd;

$alert_orange: #F35500;
$alert_red: #d65f4c;
$red_pink: #f05050;



$height-form: 43px;
$width_side: 300px;
$height_side: 73px;
// $box-sizing: border-box;
